<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RoomListServLet</servlet-name>
        <servlet-class>controller.RoomListServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDetailServlet</servlet-name>
        <servlet-class>controller.RoomDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>controller.BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>controller.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmSerlet</servlet-name>
        <servlet-class>controller.ConfirmSerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDetailAjax</servlet-name>
        <servlet-class>controller.getDetailAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomListServLet</servlet-name>
        <url-pattern>/roomlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmSerlet</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDetailAjax</servlet-name>
        <url-pattern>/getDetailAjax</url-pattern>
    </servlet-mapping>
</web-app>
